body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}